
name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  git_image_tag: ${{ github.sha }}    

  
permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    
  test:
    needs: build
    uses: ./.github/workflows/test.yaml

  docker:
    needs: test
    uses: ./.github/workflows/docker-build.yaml
    with:
      image_tag: ${{ git_image_tag }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  aws:
    needs: test
    uses: ./.github/workflows/aws.yaml
    with:
      image_tag: ${{ git_image_tag }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
