
name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  git_image_tag: ${{ github.sha }}    

  
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    uses: ./.github/workflows/build.yml
    
  test:
    runs-on: ubuntu-latest

    needs: build
    uses: ./.github/workflows/test.yml

  docker:
    runs-on: ubuntu-latest

    needs: test
    uses: ./.github/workflows/docker-build.yml
    with:
      image_tag: $git_image_tag

  aws:
    runs-on: ubuntu-latest

    needs: test
    uses: ./.github/workflows/aws.yml
    with:
      image_tag: $git_image_tag