
name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  git_image_tag: ${{ github.sha }}    

  
permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    
  test:
    needs: build
    uses: ./.github/workflows/test.yaml

  docker:
    needs: test
    uses: ./.github/workflows/docker-build.yaml
    with:
      image_tag: $git_image_tag

  aws:
    needs: test
    uses: ./.github/workflows/aws.yaml
    with:
      image_tag: $git_image_tag