name: Tag On merge

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  contents: write

jobs:
  version-tag:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.get_version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get next version
        id: get_version
        shell: bash
        run: |
          set -e

          git fetch --tags

          latest_tag=$(git tag --sort=-v:refname | head -n 1)

          if [ -z "$latest_tag" ]; then
            new_version="v1.0.0"
          else
            version=${latest_tag#v}
            IFS='.' read -r major minor patch <<< "$version"
            patch=$((patch + 1))
            new_version="v${major}.${minor}.${patch}"
          fi

          echo "New version: $new_version"
          echo "version=$new_version" >> "$GITHUB_OUTPUT"

      - name: Create and push tag
        shell: bash
        run: |
          set -e

          git tag "${{ steps.get_version.outputs.version }}"
          git push origin "${{ steps.get_version.outputs.version }}"

  build:
    needs: version-tag
    uses: ./.github/workflows/build.yaml
    
  test:
    needs: build
    uses: ./.github/workflows/test.yaml

  docker:
      needs: [version-tag, test]
      uses: ./.github/workflows/docker-build.yaml
      with:
        image_tag: ${{ needs.version-tag.outputs.version }}
      secrets:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  aws:
      needs: [version-tag, test]
      uses: ./.github/workflows/aws.yaml
      with:
            image_tag: ${{ needs.version-tag.outputs.version }} 
      secrets:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}       
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}  