name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
            python-version: "3.10"
      - name: install dependencies
        run: |
            pip install pytest
            pip install httpx
            if [ -f app/requirements.txt ]; then pip install -r app/requirements.txt; fi
      - name: Test with pytest
        run: |
            pytest